*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.content {
    max-width: 100%;
    

    .logos {
        text-align: center;
        font-size: 3rem;
        padding-left: 5rem;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: underline;
        text-shadow: 3px 3px 4px green;
    }

    .contact-wrapper {
        box-shadow: 0 0 1.25rem 0 dodgerblue;

        .contact-form form {
            display: grid;
            grid-template-columns: 1fr 1fr;

            .block {
                grid-column: 1 / 3;
            }
            p {
                margin: 0;
                padding: 1rem;
            }

            button,
            input,
            textarea {
                width: 100%;
                padding: .7rem;
                border: none;
            }

            button {
                background: white;
            
            }

        }

        .info-contacto {
            background-color: dodgerblue;
            color: white;
            font-size: 1.4rem;
            
        }
        .info-contacto h4,
        .info-contacto ul,
        .info-contacto p {
            text-align: center;
            margin: 0 0 1rem 0;
        }

        .info-contacto ul{
            list-style: none;
            padding: 0;
        }

        .info-contacto ul li {
            padding: .3rem;
        }

        & > *{
            padding: 2rem;
        }
    }
}

.btn-wsp{
    position:fixed;
    width:60px;
    height:60px;
    line-height: 63px;
    bottom:25px;
    right:25px;
    background:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:35px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
    transition: all 300ms ease;

    .btn-wsp:hover{
        background: #20ba5a;
    }
}

.container-fluid{
    background-color: dodgerblue;
}

.container-fluid2{
    background-color: dodgerblue;
}

.content {
    max-width: 100%;
    

    .logos {
        text-align: center;
        font-size: 3rem;
        padding-left: 5rem;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: underline;
        text-shadow: 3px 3px 4px dodgerblue;
    }

    .contact-wrapper {
        box-shadow: 0 0 1.25rem 0 dodgerblue;
        background-image: url(../images/fondo_formulariocontacto.jpg);
        
        .contact-form form {
            display: grid;
            grid-template-columns: 1fr 1fr;

            .block {
                grid-column: 1 / 3;
            }
            p {
                margin: 0;
                padding: 1rem;
            }

            button,
            input,
            textarea {
                width: 100%;
                padding: .7rem;
                border: none;
            }

            button {
                background: rgb(165, 148, 243);
            
            }

        }

        .info-contacto {
            background-color: dodgerblue;
            color: white;
            font-size: 1.4rem;
        }
        .info-contacto h4,
        .info-contacto ul,
        .info-contacto p {
            text-align: center;
            margin: 0 0 1rem 0;
        }

        .info-contacto ul{
            list-style: none;
            padding: 0;
        }

        .info-contacto ul li {
            padding: .3rem;
        }

        & > *{
            padding: 2rem;
        }
    }
}

.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;

}

.img_adn{
    width: 650px;
    height: 300px;
}

.texto-prod{
    margin-left: 60px;
    font-size: 1.5rem;
}

.carousel-item{
    width: fit-content;
    height: fit-content;
    margin-left: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-link{
    color: #FFF;
    font-size: 1.5rem;
}

